<script>
  $(function(){
      $(".anotherone").typed({
        strings: ["Meet Your New Personal Assistant."],
        typeSpeed: 80
      });
  });
</script>

<center>
 <div id ="textchanger">
<span class="anotherone">
	</span>

</div>


<br>
<p class="subheader">
#Everyone'sConcierge
</p>

<br>

<a href="users/sign_up"><button class="learnmore">Join</button></a>

</center>