<script>
  $(function(){
      $(".anotherone").typed({
        strings: ["Imagine Life Simplified. "],
        typeSpeed: 80
      });
  });
</script>

<center>


 <div id ="textchanger">
 
<span class="anotherone">


</span>
</div>
<p class="subheader"> Accent Is Everyone's Personal Assistant</p><br>
<p> Life is already stressful enough and not to mention time consuming. Most of our time is wasted on daily tasks, waiting rooms, traffic, etc. </p>
<br><br><br>

<p class="subheader">What if?</p>
<p> You didn't have to spend all that time doing something you clearly don't enjoy - and just do what you want, how you want, without paying prices that were clearly not meant for the blue collar man</p>
<br><br><br>
<p class="subheader">Accent Was Born</p>
<p> This is why I created Accent. It's a concierge/personal assistant that takes care of the stuff you don't want to really do.</p>
<br><br><br>
<p class="subheader">Tutorials</p>
<p> A video of my cuteness</p>
<br><br><br>
<p class="subheader">Location(s)</p>
<p> Based out of Atlanta, Ga - we currently cater to the U.S.A. For inquiries outside the U.S. please contact us at <a href="world@accent.global"> world@accent.global</a> </p>
<br><br><br>
<br><br><br>
<br><br><br>

</center>